<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (aluno(); as alunoRef) {
      <div>
        <h2 data-cy="alunoDetailsHeading"><span jhiTranslate="caseApp.aluno.detail.title">Aluno</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">Código</span></dt>
          <dd>
            <span>{{ alunoRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="caseApp.aluno.nome">Nome</span></dt>
          <dd>
            <span>{{ alunoRef.nome }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Voltar</span>
        </button>

        <button type="button" [routerLink]="['/aluno', alunoRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
